<div class="container mt-5">
  <form action="/{{ restaurant._id }}/edit" method="POST" class="row g-3">
    <div class="col-md-6">
      <label for="inputChineseName" class="form-label">中文名字</label>
      <input type="text" class="form-control" id="inputChineseName" name="name" value="{{restaurant.name}}">
    </div>
    <div class="col-md-6">
      <label for="inputEnglishName" class="form-label">英文名字</label>
      <input type="text" class="form-control" id="inputEnglishName" name="name_en" value="{{ restaurant.name_en }}">
    </div>
    <div class="col-12 my-4">
      <label for="inputState" class="form-label">類型</label>
      <select id="inputState" class="form-select" name="category">
        <option selected>Choose...</option>
        <option {{#ifEquals restaurant.category "日本料理" }}selected{{/ifEquals}}>日本料理</option>
        <option {{#ifEquals restaurant.category "義式餐廳" }}selected{{/ifEquals}}>義式餐廳</option>
        <option {{#ifEquals restaurant.category "中東料理" }}selected{{/ifEquals}}>中東料理</option>
        <option {{#ifEquals restaurant.category "美式" }}selected{{/ifEquals}}>美式</option>
        <option {{#ifEquals restaurant.category "酒吧" }}selected{{/ifEquals}}>酒吧</option>
        <option {{#ifEquals restaurant.category "咖啡" }}selected{{/ifEquals}}>咖啡廳</option>
      </select>
    </div>
    <div class="col-12">
      <label for="inputImage" class="form-label">參考照片</label>
      <input type="text" class="form-control" id="inputImage" name="image" value="{{ restaurant.image }}">
    </div>
    <div class="col-12">
      <label for="inputAddress" class="form-label">地址</label>
      <input type="text" class="form-control" id="inputAddress" name="location" value="{{ restaurant.location }}">
    </div>
    <div class="col-12">
      <label for="inputNumber" class="form-label">電話</label>
      <input type="text" class="form-control" id="inputNumber" placeholder="請輸入電話" name="phone"
        value="{{ restaurant.phone }}">
    </div>
    <div class="col-12">
      <label for="inputIntro" class="form-label">簡介</label>
      <input type="text" class="form-control" id="inputIntro" name="description" value="{{ restaurant.description }}">
    </div>
    <div class="col-12 my-4">
      <button type="submit" class="btn btn-primary mr-4">Save</button>
      <a href="/">Back</a>
    </div>
  </form>
</div>